@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 0.1rem solid crimson; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ffprimary);
    background-color: var(--primaryColor);
}

:root{
    --primaryColor: #ffffff;
    --secondaryColor: #07a1da;
    --tertiararyColor: #333;
    --lightColor: #5cd2fd;
    --ffprimary: "Libertinus";
    --ffsecondary: "Nata Sans";
}

.componentSpacing{
    padding: 1rem 0rem;
}

.screensize{
    max-width: 1200px;
    width: auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--tertiararyColor);
    margin: 0rem 0rem 1rem;
}

.accordionBody {
    max-width: 600px;
    margin: 0 auto;
}

button {
    font-family: var(--ffsecondary);
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    cursor: pointer;
    padding: 1.5rem;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 0.3rem solid var(--primaryColor);
}

button:hover {
    background-color: var(--lightColor);
}

.accordion::after {
    content: '˅';
    float: right;
    font-size: 2rem;
    font-weight: 600;
}

.accordion.active::after {
    content: '˄';
}

.panel {
    font-family: var(--ffsecondary);
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 1rem;
    color: var(--primaryColor);
    margin-bottom: 0.2rem;
    display: none;
    background-color: var(--secondaryColor);
    border: 0.2rem solid var(--secondaryColor);
}

/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */
@media (max-width: 576px)
{
    .concepts{
        margin: 3rem;
    }
}